<div class="container">
    <div class="card mt-3">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Book Universe</h2>
            </div>
        </div>

        <div class="row m-1 mt-3 ">
            <div class="col-md-6 mt-1">
                <input class="form-control" [(ngModel)]="newTitle" name="title" placeholder="Book Title">
            </div>
            <div class="col-md-4 mt-1">
                <input class="form-control" [(ngModel)]="newAuthor" name="author" placeholder="Author">
            </div>
            <!-- <div class="col-md-4 mt-1">
                <input class="form-control" [(ngModel)]="newTaskDescription"  placeholder="Task Description Optional">
            </div> -->
            <div class="col-md-2 mt-1">
                <button class="btn btn-primary w-100" (click)="addNewBook()">Add</button>
            </div>
        </div>
    </div>
 
    <ul class="list-group mt-3">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let book of books; index as i">
            {{ book.title }} {{ book.author }}
            <button class="btn btn-danger" (click)="deleteBook(book.id)">Remove</button>
        </li>
    </ul>
</div>